* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: rgb(10, 9, 9); */
  background: #e8ecf2;
  display: grid;
  place-items: center;
  height: 100vmin;
}

main {
  position: relative;
  display: grid;
  gap: 0.5em;
  margin: 2rem;
  width: clamp(30rem, 50%, 40rem);
  transition: 0.6s;
  grid-template-areas:
    "a a a a b b"
    "c c c d d d"
    "c c c e e e";
}

div {
  padding: 2em;
  text-align: center;
  display: grid;
  place-content: center;
  transition: 0.6s;
}

div:nth-child(1) {
  grid-area: a;
  height: 9rem;
  background: hsl(31, 77%, 52%);
}
div:nth-child(2) {
  grid-area: b;
  background: hsl(184, 100%, 22%);
}
div:nth-child(3) {
  grid-area: c;
  background: hsl(179, 100%, 13%);
}
div:nth-child(4) {
  grid-area: d;
  background: #e8ecf2;
  box-shadow: 1px 1px 5px #999;
}
div:nth-child(5) {
  grid-area: e;
  background: #e8ecf2;
  box-shadow: 1px 1px 5px #999;
}

/* button{
  padding: .5em 1em;
  outline: 3px solid hsl(31, 77%, 52%);
  outline-offset: -6px;
  border: 4px solid hsl(179, 100%, 13%);
  color: hsl(184, 100%, 22%);
  background: hsla(0, 0%, 100%, 0.75);
  cursor: pointer;
} */

/* button {
  padding: 0.8em 1.5em;
  color: hsl(31, 77%, 52%);
  font-weight: 600;
  background: #e8ecf2;
  box-shadow: -2px -1px 10px hsla(31, 73%, 68%, 0.576), 5px 5px 10px #888;
  border-radius: 20px;
  border: none;
  transition: .5s;
} */

button {
  padding: 0.8em 1.5em;
  border-radius: 20px;
  font-weight: 600;
  box-shadow: inset -1px -1px 9px hsla(179, 100%, 13%, 0.426), 1px 1px 2px #888;
  color: hsl(31, 77%, 52%);
  border: 5px solid #e8ecf2;
  transition: 0.5s;
  cursor: pointer;
  font-family: "Lexend Deca", sans-serif;
}
button:hover {
  box-shadow: inset -1px -1px 3px hsla(179, 100%, 13%, 0.426), 1px 1px 2px #888;
  color: hsl(179, 100%, 13%);
  border: 5px solid #e8ecf2;
}

i {
  color: grey;
  padding-right: 0.5em;
}

footer {
  position: absolute;
  bottom: 50px;
}

/* mobile */

@media (max-width: 580px) {
  main {
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e";
  }

  footer {
    bottom: 10px;
  }

  div:nth-child(1) {
    background: #e8ecf2;
    box-shadow: inset 1px 1px 5px #999;
  }
  div:nth-child(2) {
    background: #e8ecf2;
    box-shadow: inset 1px 1px 5px #777;
  }
  div:nth-child(3) {
    background: #e8ecf2;
    box-shadow: inset 1px 1px 5px #666;
  }
  div:nth-child(4) {
    box-shadow: inset 1px 1px 6px #333;
  }
  div:nth-child(5) {
    background: #e8ecf2;
    box-shadow: inset 1px 1px 6px #111;
  }
}
